<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <button class="button is-text" (click)="newEvent()">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-text">
            <span class="icon">
              <i class="fas fa-cog"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</nav>
