<section class="section" [ngClass]="{'is-invisible': showHero$ | async }">
  <div class="container">
    <h1 class="title" [ngClass]="{'is-invisible': filter !== 'expired' }">Expired events</h1>
    <h1 class="title" [ngClass]="{'is-invisible': filter === 'expired' }">Active events</h1>

    <div class="countdown-list-container">
      <app-countdown-item [event]="event" *ngFor="let event of events$ | async"></app-countdown-item>
    </div>
  </div>
</section>


<section class="hero is-info is-bold is-fullheight-with-navbar" *ngIf=" (showHero$ | async) === true">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Hey there 👋
      </h1>
      <h2 class="subtitle">
        Add a new event to start a countdown
      </h2>
    </div>
  </div>
</section>
