$blue: #4885ed;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4caf50;
$turquoise: #009688;
$cyan: #00bcd4;
$purple: #9c27b0;
$red: #f44336;
$black-ter: #242424;
$dark: $black-ter;
$grey-darker: #363636;

$cardsColours: (
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "turquoise": $turquoise,
  "cyan": $cyan,
  "blue": $blue,
  "purple": $purple,
  "red": $red,
);
