@charset "utf-8";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Import only what you need from Bulma
// https://dev.to/adrianbudzynski/dark-theme-for-your-angular-app-1664
$radius: 1px;
$blue: #4885ed;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

$primary: $blue;

$scheme-main: $black-ter;
$background: $dark;
$body-background-color: $dark;

$text: $text-invert;
$text-strong: $text-invert;
$text-light: $text-invert;
$link-hover: $link;
$link-focus: $link;
$link-active: $link;

body,
html {
  background-color: $black-ter;
}

$button-text-decoration: none;

@import "../node_modules/bulma/sass/elements/_all.sass";

@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

// Navbar
@import "../node_modules/bulma/sass/components/navbar.sass";

// Cards
$card-background-color: $dark;

.card {
  margin-bottom: 1rem;
  border-radius: $radius;
}

@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/modal.sass";

// Section
$section-padding: 0.5rem;
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
